body {
  width: 100%;
  height: 100%;
  background: url('../images/index11.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*font-family: 'MyFont' !important;*/
  font-size: 16px !important;
  color: #ffffcc !important;
}
h4 {
  font-size: 26px !important;
}
legend {
  color: #ffffcc !important;
}
form {
  padding-top: 70px;
}
.form {
  padding-top: 0px;
  padding-right: 30px;
  height: 100%;
}
ul {
  list-style-type: none;
}
nav {
  background-color: rgba(0, 0, 0, 0.85) !important;
}
header {
  height: 60px;
}
p, label{
  color: #ffffcc;
}
p::-webkit-selection {color: #fa8b5f;}
p::-moz-selection { color: #fa8b5f;}
p::-o-selection { color: #fa8b5f;}
p::selection { color: #fa8b5f;}
h3::-webkit-selection {color: #fa8b5f;}
h3::-moz-selection { color: #fa8b5f;}
h3::-o-selection { color: #fa8b5f;}
h3::selection { color: #fa8b5f;}
h5::-webkit-selection {color: #fa8b5f;}
h5::-moz-selection { color: #fa8b5f;}
h5::-o-selection { color: #fa8b5f;}
h5::selection { color: #fa8b5f;}
td::-webkit-selection {color: #fa8b5f;}
td::-moz-selection { color: #fa8b5f;}
td::-o-selection { color: #fa8b5f;}
td::selection { color: #fa8b5f;}
h1::-webkit-selection {color: #fa8b5f;}
h1::-moz-selection { color: #fa8b5f;}
h1::-o-selection { color: #fa8b5f;}
h1::selection { color: #fa8b5f;}
h4::-webkit-selection {color: #fa8b5f;}
h4::-moz-selection { color: #fa8b5f;}
h4::-o-selection { color: #fa8b5f;}
h4::selection { color: #fa8b5f;}
a::-webkit-selection {color: #fa8b5f;}
a::-moz-selection { color: #fa8b5f;}
a::-o-selection { color: #fa8b5f;}
a::selection { color: #fa8b5f;}
span::-webkit-selection {color:#fa8b5f;}
span::-moz-selection { color:#fa8b5f;}
span::-o-selection { color:#fa8b5f;}
span::selection { color:#fa8b5f;}
label::-webkit-selection {color:#fa8b5f;}
label::-moz-selection { color:#fa8b5f;}
label::-o-selection { color:#fa8b5f;}
label::selection { color:#fa8b5f;}
legend::-webkit-selection {color:#fa8b5f;}
legend::-moz-selection { color:#fa8b5f;}
legend::-o-selection { color:#fa8b5f;}
legend::selection { color:#fa8b5f;}
.int {
  padding-top: 30px;
  height: 500px;
}
input[type="text"], input[type="email"], .form input[type="password"], select,
  input[type="submit"], input[type="select"], button, input[type="name"],
  input[type="phone"] {
  text-align: center;
  padding-left: 6px !important;
  color: rgba(200, 166, 55, 0.9) !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  background-color: transparent !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -o-border-radius: 15px !important;
  border-radius: 15px !important;
  text-decoration: none !important;
}
input[type="submit"] {
  background-color: #3F3A3A !important;
}
textarea {
  resize: none;
  overflow: hidden;
  text-align: center;
  color: rgba(200, 166, 55, 0.9) !important;
  background-color: transparent !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -o-border-radius: 15px !important;
  border-radius: 15px !important;
  margin-bottom: 12px !important;
}
option {
  color: #fff;
  background-color: rgba(0,0,0,1);
  /*background-color: none;*/
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
input:focus, select:focus, button:focus, textarea:focus{
  outline: none !important;
  -webkit-box-shadow: 1px 1px 20px white !important;
  -moz-box-shadow: 1px 1px 20px white !important;
  -o-box-shadow: 1px 1px 20px white !important;
  box-shadow: 1px 1px 20px white !important;
  border: none !important;
}
input:active {
  border: none !important;
}
input:hover, button:hover, select:hover, textarea:hover {
  color: #fff !important;
  text-decoration: none !important;
  -webkit-box-shadow: 1px 1px 10px white !important;
  -moz-box-shadow: 1px 1px 10px white !important;
  -o-box-shadow: 1px 1px 10px white !important;
  box-shadow: 1px 1px 10px white !important;
}

/* system staff */

.staff {
  height: 500px;
}
.staff span {
  font-size: 12px !important;
}
.people {
  border: 1px solid red;
  margin: 5px 0px 5px 0px;
  padding: 6px;
  background-color: black;
}
.lawyer-background {
  height: 500px;
}
.people:hover {
  -webkit-box-shadow: 1px 1px 20px red !important;
  -moz-box-shadow: 1px 1px 20px red !important;
  -o-box-shadow: 1px 1px 20px red !important;
  box-shadow: 1px 1px 20px red !important;
  border: 2px solid red;
}
.img {
  width:80px;
  height:70px;
  padding: 0 10px 0 10px;
  display: inline-block;
}
.text-staff {
}
.control-panel {
  padding: 20px;
  z-index: -10;
}
.border-radius {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
a {
  font-size: 16px !important;
  color: rgba(200, 166, 55, 0.9);
}
 a:link, a:visited, a:active, a:hover {
 color: rgba(200, 166, 55, 0.9);
 text-decoration: none !important;
}
a:hover {
  color: rgba(200, 166, 55, 0.9) !important;
  -webkit-text-shadow: 2px 2px 5px gray;
  -moz-text-shadow: 2px 2px 5px gray;
  -o-text-shadow: 2px 2px 5px gray;
  text-shadow: 2px 2px 5px gray;
}
.background {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  height: 540px;
  width: 700px;
}
.padding_bottom {
  padding-bottom: 24px;
}
fieldset {
  height: 100%;
}
h1 {
  text-align: center;
    color: #fff !important;
  -webkit-text-shadow: 4px 4px 6px rgba(223, 150, 150, 1);
  -moz-text-shadow: 4px 4px 6px rgba(223, 150, 150, 1);
  -o-text-shadow: 4px 4px 6px rgba(223, 150, 150, 1);
  text-shadow: 4px 4px 6px rgba(223, 150, 150, 1);
  font-family: 'MyFont' !important;
}
@font-face {
    font-family: 'MyFont';
    src: url('/css/fonts/font.ttf');
}
@font-face {
    font-family: 'MySFont';
    src: url('/css/fonts/kaushan-script/KaushanScript-Regular.otf');
}
p {
  text-align: justify;
}

.light:hover {
  /*text-shadow: 0px 0px 13px yellow;*/
}
.modal-content {
  background-color: #333 !important;
}

/**************************Animate****************************************/

.top-in {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
  position: absolute;
  width: 100%;
  opacity: 1;
}

.top-in.ng-enter,
.top-in.ng-leave.ng-leave-active {
  opacity: 0;
}
.top-in.ng-enter.ng-enter-active,
.top-in.ng-leave {
  opacity: 1;
}

/*ng view */
/*.top-in.ng-leave {
  opacity: 1;
}
.top-in.ng-leave-active {
  opacity: 0;
}
.top-in.ng-enter {
  opacity: 0;
}
.top-in.ng-enter-active {
  opacity: 1;
}*/

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s;
  /*display:block;*/
  width:100%;
  /*border-left:1px solid black;*/

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  /*padding:10px;*/
}

.view-animate.ng-enter {
  left:1000px;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-1000px;
}

.error {
  -webkit-text-shadow: 1px 1px 9px rgba(188, 48, 44, 0.5);
  -moz-text-shadow: 1px 1px 9px rgba(188, 48, 44, 0.5);
  -o-text-shadow: 1px 1px 9px rgba(188, 48, 44, 0.5);
  text-shadow: 1px 1px 9px rgba(188, 48, 44, 0.5);
  /*rgba(255, 26, 44, 0.9);*/
  color: rgba(255, 26, 44, 0.5);
}
.success {
  -webkit-text-shadow: 1px 1px 9px rgba(48, 209, 44, 0.5);
  -moz-text-shadow: 1px 1px 9px rgba(48, 209, 44, 0.5);
  -o-text-shadow: 1px 1px 9px rgba(48, 209, 44, 0.5);
  text-shadow: 1px 1px 9px rgba(48, 209, 44, 0.5);
  color: rgba(48, 209, 44, 0.5);
}
.animate-show {
  line-height: 20px;
  padding: 10px;
  text-align: center;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(188, 48, 44, 0.5);
}




/*prueba*/

@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8);
    }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

    .ng-enter       { z-index: 8888; }
    .ng-leave       { z-index: 9999; }

    /* page specific animations ------------------------ */

    /* home -------------------------- */
    .page-home.ng-enter         { animation: scaleUp 0.5s both ease-in; }
    .page-home.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

    /* about ------------------------ */
    .page-about.ng-enter        { animation:slideInRight 0.5s both ease-in; }
    .page-about.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

    /* contact ---------------------- */
    .page-contact.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
    .page-contact.ng-enter      { animation:slideInUp 0.5s both ease-in; }


.stuff-to-show {
  position: relative;
  /*height: 100px;*/
  -webkit-transition: top linear 0.4s;
  transition: top linear 0.4s;
  top: 0;
}
.stuff-to-show.ng-hide {
  /*top: 600px;*/
}
.stuff-to-show.ng-hide-add,
.stuff-to-show.ng-hide-remove {
  top: 600px;
  display: block!important;
}


/*animate for show staff*/

.show-staff {
  margin:10px 0 20px 0;
  padding:10px;
}





.show-staff.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}


.show-staff.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}
