body {
  width: 100%;
  height: 100%;
  background: url('../images/index.jpg')  0px 98% no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
form {
  padding-top: 70px;
}

p, label{
  color: #343536;
}
p::-webkit-selection {color: #fa8b5f;}
p::-moz-selection { color: #fa8b5f;}
p::-o-selection { color: #fa8b5f;}
p::selection { color: #fa8b5f;}
h1::-webkit-selection {color: #fa8b5f;}
h1::-moz-selection { color: #fa8b5f;}
h1::-o-selection { color: #fa8b5f;}
h1::selection { color: #fa8b5f;}
h4::-webkit-selection {color: #fa8b5f;}
h4::-moz-selection { color: #fa8b5f;}
h4::-o-selection { color: #fa8b5f;}
h4::selection { color: #fa8b5f;}
a::-webkit-selection {color: #fa8b5f;}
a::-moz-selection { color: #fa8b5f;}
a::-o-selection { color: #fa8b5f;}
a::selection { color: #fa8b5f;}
span::-webkit-selection {color:red;}
span::-moz-selection { color:red;}
span::-o-selection { color:red;}
span::selection { color:red;}
label::-webkit-selection {color:red;}
label::-moz-selection { color:red;}
label::-o-selection { color:red;}
label::selection { color:red;}
legend::-webkit-selection {color:red;}
legend::-moz-selection { color:red;}
legend::-o-selection { color:red;}
legend::selection { color:red;}
.form input[type="email"], .form input[type="password"] {
        color: #343536;
        border-top: none;
        border-right: none;
        border-left: none;
        background-color: transparent;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
}
input:focus{
  outline: none;
  -webkit-box-shadow: 7px 7px 20px black;
  -moz-box-shadow: 7px 7px 20px black;
  -o-box-shadow: 7px 7px 20px black;
  box-shadow: 7px 7px 20px black;
}
.btn {
  color: #343536;
}
.btn:hover {
  -webkit-box-shadow: 7px 7px 20px black;
  -moz-box-shadow: 7px 7px 20px black;
  -o-box-shadow: 7px 7px 20px black;
  box-shadow: 7px 7px 20px black;
}
.control-panel {
  padding: 20px;
  background-color: rgba(169, 169, 169, 0.6);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  z-index: -10;
}
 a:link, a:visited, a:hover {
 color: #191970;
 text-decoration: none;
}
.background {
  color: #343536;
  overflow: auto;
  background-color: rgba(169, 169, 169, 0.7);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  height: 540px;
}
.background {
  overflow-x: hidden;
  overflow-y: auto;
  width: 700px;
}
h1 {
  color: #505152 !important;
  text-align: center;
}
p {
  text-align: justify;
}

.light:hover {
  text-shadow: 0px 0px 13px yellow;
}

/**************************Animate****************************************/

.top-in {
  transition: 1.5s linear all;
  -webkit-transition: 1.5s linear all;
  position: absolute;
  width: 100%;
}

.top-in.ng-enter,
.top-in.ng-leave.ng-leave-active {
  right: -2000px;
}
.top-in.ng-enter.ng-enter-active,
.top-in.ng-leave {
  right: 0px;
}
