<form novalidate class="form" name="form">
  <fieldset class="col-md-11">
    <legend>Editar: {{user.email}}</legend>
    <div>
      <label for="lawyer"> Tipo de accesos:
        <select ng-model="user.role" autofocus>
          <option value="1">Usuario</option>
          <option value="2">Abogado</option>
        </select><br>
      </label></br>
    </div>
    <p>
      <input type="submit" value="Actualizar" ng-click="update(user)" class="col-md-offset-10 col-xs-offset-10"/>
    </p>
    </br>
    </br>
    <p>
      <a href="#/users/index">Volver</a> |
      <a href="#/users/show?user={{user.id}}">Mostrar</a>
    </p>
  </fieldset>
</form>
