<form novalidate class="form" name="form">
  <fieldset class="col-md-offset-2 col-md-8">
    <legend>Crear Cuenta</legend>
    <h3>{{msj}}</h3>
    <br/>
    <div>
      <label class="col-md-2">E-mail:</label>
      <input type="email" ng-model="user.email" class="col-md-5 col-xs-5" required="" name="uEmail" autofocus/>
      <div ng-show="form.$submitted || form.uEmail.$touched">
        <p ng-show="form.uEmail.$error.required" class="col-md-5"> Falta su E-mail.</p>
        <p ng-show="form.uEmail.$error.email" class="col-md-5">No es un E-mail válido.</p>
      </div>
    </div>
    <br />
    <br/>
    <div>
      <label class="col-md-2 ">Contraseña:</label>
      <input type="password" ng-model="user.password" class="col-md-5 col-xs-5" name="uPassword" required="" ng-minlength="8"/>
      <div ng-show="form.$submitted || form.uPassword.$touched">
        <p ng-show="form.uPassword.$error.required" class="col-md-5"> Falta su contraseña.</p>
        <p ng-show="form.uPassword.$error.minlength" class="col-md-5"> Debe tener 8 caracteres al menos.</p>
      </div>
    </div>
    <br />
    <br/>
    <label class="col-md-2 ">Contraseña:</label>
    <input type="password" ng-model="user.password_confirmation" class="col-md-5 col-xs-5" name="uPassword" required="" ng-minlength="8"/>
    <br/>
    <br/>
    <br/>
    <br/>
    <input type="submit" value="registrar" ng-click="signUp(user)" class="btn col-md-offset-10 col-xs-offset-10" />
  </fieldset>
</form>
